
# {{ generated_file }}

# Path to your oh-my-zsh installation.
export ZSH=/home/{{ ansible_user_id }}/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="agnoster"

# Uncomment the following line to enable command auto-correction.
ENABLE_CORRECTION="true"

source $ZSH/oh-my-zsh.sh

# User configuration


# ssh
export SSH_KEY_PATH="~/.ssh/rsa_id"

#GO conf
export GOPATH=$HOME/gowork

export PATH=$PATH:/usr/local/go/bin

alias wuzz="$GOPATH/bin/wuzz"


