# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

# reload the i3 config when I left click on the i3status time module
# and restart i3 when I middle click on it 


general {
  colors = true
  interval = 2
}

#order += "ipv6"
#order += "static_string term"
#order += "static_string web"
order += "apt_updates"
order += "netdata"
order += "disk /"
order += "disk /home"
#order += "run_watch DHCP"
#order += "run_watch VPN"
#order += "wireless _first_"
#order += "ethernet _first_"

order += "group net"
order += "sysdata"
order += "backlight"
order += "volume_status master"

order += "tztime local"
order += "battery_level"
order += "whoami"
order += "static_string suspend"
order += "static_string poweroff"


backlight { 
  format = "\uf185 {level}%"
  click 1 = "exec xbacklight -inc 10 "
  click 3 = "exec xbacklight -dec 10 "
}

apt_updates {
  format = "[\?not_zero  {apt}]"
}

volume_status master {
  format = " {percentage}%"
  format_muted = " muted"
  device = "default"
  command = "amixer"
  thresholds = [
    (0, "#FF0000"),
    (10, "#E2571E"),
    (20, "#FF7F00"),
    (30, "#FFFF00"),
    (40, "#00FF00"),
    (50, "#96BF33"),
    (60, "#0000FF"),
    (70, "#4B0082"),
    (80, "#8B00FF"),
    (90, "#FFFFFF")
  ]
  on_click 1 = "exec mate-volume-control"
}

wireless _first_ {
  format_up = " (%essid %quality) %ip"
  format_down = "W: down"
}

ethernet _first_ {
  # if you use %speed, i3status requires root privileges
  format_up = "E: %ip (%speed)"
  format_down = "E: down"
}

systemd docker {
  format = ""
  unit = "docker.service"
  color_bad = "#585858"
}

battery_level {
  format = "{icon} {percent}% {time_remaining}"
  blocks = ""
  charging_character = ""
  hide_seconds = True
  measurement_mode = "sys"
  notify_low_level = True
  color_bad = "#FF0000"
  color_charging = "#A4A4A4"
  color_degrated = "#FF8000"
  color_good = "#00FF00"
}

run_watch DHCP {
  pidfile = "/var/run/dhclient*.pid"
}

run_watch VPN {
  format= " VPN"
  pidfile = "/var/run/vpnc/pid"
}

tztime local {
  format = "%d/%m %H:%M"
  on_click 1 = "reload"
}

sysdata {
  format = "[\?color=cpu :{cpu_usage:d}%]"
  format += " [\?color=mem :{mem_used_percent:d}%]"
  format += " [\?color=temp :{cpu_temp:d}°]"
  thresholds = {
    'temp': [
      (0, "#FFFFFF"),
      (60, "#A4A4A4"),
      (75, "#A4A4A4"),
    ],
    'cpu': [
      (0, "#FFFFFF"),
      (0.1, "#FFFFFF"),
      (0.8, "#FFFFFF"),
      (1, "#FFFFFF"),
    ],
    'mem': [
      (0, "#FFFFFF"),
      (10, "#FFFFFF"),
      (80, "#A4A4A4"),
      (90, "#A4A4A4"),
    ],
  }
}

#group stats {
#  cycle = 1
#  format = "{output}"
#  sysdata cpu {
#    format = "[\?color=cpu {load1} ]"
#  }
#  sysdata mem {
#    format = "[\?color=mem {mem_used:d} {mem_unit} ]"
#  }
#  sysdata temp {
#    format = "[\?color=temp {cpu_temp:d}° ]"
#  }
#}

disk "/" {
  format = " / %avail"
  on_click 1 = "exec caja /"
}
disk "/home" {
  format = " /home  %avail"
  on_click 1 = "exec caja /home"
}

group net {
  cycle = 5
  format = "{output}"
  net_iplist {
    iface_blacklist = ['lo','docker0','vboxnet*']
    ip_blacklist = ['127.*','::1']
    format = " {format_iface}" 
    format_iface = "{ip4}"
    color_good = "#FFFFFF"
  }
}
netdata {
  format = "[\?color=#FFFFFF : {down} : {up}]"
}

whoami {
  format = "  {username}  "
  on_click 1 = "exec dm-tool lock"
}

static_string suspend {
  format = " Running"
  on_click 1 = "exec systemctl suspend"
}

static_string poweroff {
  format = "  "
  on_click 1 = "exec systemctl poweroff"
}
