 ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #000000, #000000, #ffffff
rofi.color-normal: #000000, #508795, #000000, #000000, #eac05f
rofi.color-active: #1c1b18, #ffffff, #000000, #268bd2, #fdf6e3
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3