[global_config]
  borderless = True
  disable_real_transparency = "True"
[keybindings]
  zoom_in = <Primary>equal
  zoom_out = <Primary>minus
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.60
    background_image = None
    background_type = transparent
    cursor_shape = ibeam
    font = Droid Sans Mono for Powerline 12
    show_titlebar = False
